<!------ footer ------>
<footer id="footer">
    <!-- 주토피디아, 주피 프로젝트, 깃허브 링크, 영화 평점 사이트 -->
    <div id="information">
        <h4 class="information_inner">주토피디아, 주피 프로젝트</h4>
        <div class="information_inner">
            <a href="https://github.com/swWebProject/tag-project-2022"><i class="fa-brands fa-github fa-2x"></i></a>
            <h5>주피 프로젝트 깃허브</h5>
        </div>
        <h6 class="information_inner">씨애랑 2022 소프트웨어 전시회 태그팀</h6>
    </div>
</footer>
</body>

</html>