<body>

<!------ header ------>
<script>
    const clickEnter = () => {
        var movieNm = document.getElementById('movie_search').value;
        console.log(movieNm)
        location.href = "/search/" + movieNm
    }
</script>
<header>
    <nav class="navbar">
        <div id="nav_name">
            <a href="/"><i class="fa-solid fa-film"></i></a>
            <a href="/">
                <h2>주토피디아</h2>
            </a>
        </div>
        <div id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input id="movie_search" type="text" placeholder="원하는 영화 제목 검색"
                   onkeyup="if(window.event.keyCode==13){clickEnter();}" />
        </div>
        {{^user}}
            <div id="login_bar">
                <a href="/">
                    <h4>홈</h4>
                </a>
            <a href="/user/login">
                <h4>로그인</h4>
            </a>
            <a href="/user/signup">
                <h4>회원가입</h4>
            </a>
        </div>
        {{/user}}
        {{#user}}
        <div id="login_bar" >
            <a href="/">
                <h4>홈</h4>
            </a>
            <a href="/mypage/{{userId}}">
                <h4>{{nickname}} 님</h4>
            </a>
            <a href="/user/logout" methods="post">
                <h4>로그아웃</h4>
            </a>
        </div>
        {{/user}}
    </nav>
</header>