<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zootopedia</title>
    <script src="https://kit.fontawesome.com/c58241218c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
</head>

<body>
<!------ header ------>
<header>
    <nav class="navbar">
        <div id="nav_name">
            <i class="fa-solid fa-film"></i>
            <h2>주토피디아</h2>
        </div>
        <div id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input id="movie_search" type="text" placeholder="원하는 영화 검색">
        </div>
        <div id="login">
            <a href="login.html">
                <h4>로그인</h4>
            </a>
            <a href="">
                <h4>회원가입</h4>
            </a>
        </div>
    </nav>
</header>