<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zootopedia</title>
    <script src="https://kit.fontawesome.com/c58241218c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/movie.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
</head>


{{>layouts/header}}

<!------ section ------>
<section id="section">
    <div id="movie_img_title">
        <img id="movie_img" src="{{movieInfo.poster}}">

        <div id="movie_title">
            <h2>{{movieInfo.movieNm}}</h2>
            <h4><i>{{openYear}} / {{genres}} / {{movieInfo.nationAlt}}</i></h4>

            {{>movie/rating}}

        </div>

        <div id="movie_user_want">
            {{>movie/wanting}}

            {{>movie/watching}}

            <div id="movie_information">
                <h4>영화 정보</h4>
                <p>{{movieInfo.movieNm}}</p>
                <p>{{openYear}} | {{genres}} | {{movieInfo.nationAlt}}</p>
                <div id="information_div">정보들</div>
            </div>

            <div id="movie_evaluate">
                <h4>코멘트</h4>
                <div id="comment_button" action="/">
                    <textarea name="comment" rows="10" cols="50"></textarea>
                    <input type="button" value="완료">
                </div>
                <div class="movie_evaluate_user">
                    <p id="comment_user_name">{{#user}}{{nickname}}{{/user}}</p>
                    <p id="comment_user"></p>
                </div>
            </div>
            <script src="/js/movie.js"></script>
</section>

{{>layouts/footer}}