
<div id="current_star">
    <h3>평균 별점</h3>
    <i class="fa-solid fa-star"></i>
    <h3 id="movie_star">{{movieInfo.averageRating}}</h3>
</div>

<div class="star_rating">
    <div class="rating-wrap">
        <fieldset class="rating">
            <h3 id="current_value"></h3>
            <input type="radio" id="star10" name="rating" value="10" onclick="clickStar(this, {{movieInfo.movieCd}})" /><label
                for="star10" class="full"></label>
            <input type="radio" id="star9" name="rating" value="9" onclick="clickStar(this, {{movieInfo.movieCd}})" /><label
                for="star9" class="half"></label>
            <input type="radio" id="star8" name="rating" value="8" onclick="clickStar(this, {{movieInfo.movieCd}})" /><label
                for="star8" class="full"></label>
            <input type="radio" id="star7" name="rating" value="7" onclick="clickStar(this, {{movieInfo.movieCd}})" /><label
                for="star7" class="half"></label>
            <input type="radio" id="star6" name="rating" value="6" onclick="clickStar(this, {{movieInfo.movieCd}})" /><label
                for="star6" class="full"></label>
            <input type="radio" id="star5" name="rating" value="5" onclick="clickStar(this, {{movieInfo.movieCd}})" /><label
                for="star5" class="half"></label>
            <input type="radio" id="star4" name="rating" value="4" onclick="clickStar(this, {{movieInfo.movieCd}})" /><label
                for="star4" class="full"></label>
            <input type="radio" id="star3" name="rating" value="3" onclick="clickStar(this, {{movieInfo.movieCd}})" /><label
                for="star3" class="half"></label>
            <input type="radio" id="star2" name="rating" value="2" onclick="clickStar(this, {{movieInfo.movieCd}})" /><label
                for="star2" class="full"></label>
            <input type="radio" id="star1" name="rating" value="1" onclick="clickStar(this, {{movieInfo.movieCd}})" /><label
                for="star1" class="half"></label>
        </fieldset>
    </div>
</div>