<div id="movie_user_want">
    <div id="user_want_watch">
        <h6>보고싶어요</h6>
        <button id="wantButton" type="button" class="movie_user_want_a">
            <i class="fa-solid fa-folder-closed"></i>
            <input id="wantMovieId" type="hidden" value={{movieInfo.movieCd}} name="movieId">
            <input id="wantUserId" type="hidden" value={{#user}}{{userId}}{{/user}} name="userId">
        </button>
    </div>
