<div id="user_watching">
    <h6>보는 중</h6>
    <button id="watchButton" class="movie_user_want_a">
        <i class="fa-solid fa-laptop"></i>
        <input id="watchMovieId" type="hidden" value={{movieInfo.movieCd}} name="movieId">
        <input id="watchUserId" type="hidden" value={{#user}}{{userId}}{{/user}} name="userId">
    </button>
</div>
</div>
</div>


