:root {
    --color-body: #FBF8F1;
    --color-nav: #F7ECDE;
    --font-color: rgb(33, 33, 33);
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color-body);
    font-family: 'Nanum Gothic', sans-serif;
    /* footer 하단 고정 : flex 추가 */
    display: flex;
    flex-direction: column;
    /*text-align: center;*/
    margin: 0;
    padding-top: 73px;
}

section {
    flex: 1;
}
/* footer 하단 고정 */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

nav.navbar {
    background-color: var(--color-nav);
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* navbar-> name(주토피디아) */
#nav_name {
    margin-left: 15px;
    display: flex;
    width: 165px;
}

#nav_name > a {
    text-decoration: none;
    color: var(--font-color);
}

#nav_name > a > h2 {
    padding: 5px 0 0 12px;
}

i.fa-solid {
    font-size: 35px;
    padding-top: 2px;
}

/* navbar -> search */
#search {
    display: flex;
}

#search > #movie_search {
    width: 370px;
    height: 40px;
    position: center;
    border-radius: 5px;
    border-width: 1px;
    margin-left: 10px;
    padding-left: 10px;
}

/* navbar -> login_bar */
#login_bar {
    display: flex;
    margin-right: 12px;
}

#login_bar > a {
    margin: 10px;
    text-decoration: none;
    color: var(--font-color);
}

/* section */
#movie {
    text-decoration: none;
    color: var(--font-color);
}

#section > h3 {
    color: var(--font-color);
    font-weight: 900;
    margin: 20px 0 0 20px;
}

#section_main_div {
    display: flex;
    width: 98%;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.new_divTag {
    color: var(--font-color);
    text-decoration: none;
}

.new_divTag {
    color: #f8f8f8;
    display: flex;
    flex-direction:column;
    margin: 20px 0 0 20px;
    width: 165px;
}

.new_divTag > .movie_rank {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--font-color);
}

.new_divTag > .movie_title {
    font-size: 16px;
    font-weight: 600;
    width: 164px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
    margin-top: 5px;
    color: var(--font-color);
}

.movie_img {
    width: 164px;
    height: 251px;
    border-radius: 5px;
}

.movieNation_movieOpen {
    font-size: 13px;
    margin-top: 1%;
}

.movieNation_movieOpen > span {
    color: var(--font-color);
}

.new_aTag {
    text-decoration: none;
}

/*footer*/
#information {
    background-color: var(--color-nav);
    padding-top: 20px;
    padding-bottom: 9px;
    text-align: center;
}

#information > .information_inner {
    padding-bottom: 9px;
}

#information > .information_inner > a {
    text-decoration: none;
    color: var(--font-color);
}

i.fa-github {
    color: rgb(77, 77, 77);
}