:root {
    --color-body: #FBF8F1;
    --color-nav: #F7ECDE;
    --font-color: rgb(33, 33, 33);
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--color-body);
    font-family: 'Nanum Gothic', sans-serif;
    /* footer 하단 고정 : flex 추가 */
    display: flex;
    flex-direction: column;
    margin: 0;
}

section {
    flex: 1;
}
/* footer 하단 고정 */

nav.navbar {
    background-color: var(--color-nav);
    width: 100%;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* navbar-> name(주토피디아) */
#nav_name { /* margin-left + width 추가 */
    margin-left: 15px;
    display: flex;
    width: 165px; /* search 부분이 중간으로 안 맞아서 추가*/
}

#nav_name > a {
    text-decoration: none;
    color: var(--font-color);
}

#nav_name > a > h2 {
    padding: 5px 0 0 12px;
}

i.fa-solid { /* font-size 수정 */
    font-size: 35px;
    padding-top: 2px;
    color: var(--font-color);
}

/* navbar -> search */
#search {
    display: flex;
}

#search > #movie_search {
    width: 370px;
    height: 40px;
    position: center;
    border-radius: 5px;
    border-width: 1px;
    margin-left: 10px;
    padding-left: 10px;
}

/* navbar -> login_bar */
#login_bar { /* 기존 id : login(login 페이지의 input div에서 사용) -> login_bar로 변경 */
    display: flex;
    margin-right: 12px;
}

#login_bar > a {
    margin: 10px;
    text-decoration: none;
    color: var(--font-color);
}

/* section */
#section > h1 {
    color: var(--font-color);
    font-size: 30px;
    text-align: center;
    margin: 100px 0 40px 0;
}

#section > #login { /* #login : login, password 묶어주는 div태그 */
    display: flex;
    height: 100px;
    width: 337px;
    flex-wrap: wrap;
    margin: 0 auto;
}

#id {
    display: flex;
    margin-bottom: 8px;
}

#id > input, #password > input {
    width: 285px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    border-width: 1px;
    border: 1px solid  var(--font-color);
}

#password {
    display: flex;
}

#id > label > i.fa-user {
    margin-right: 13.75px;
}

.fa-user, .fa-key {
    color: var(--font-color);
    margin-right: 30px;
    margin: 0 10px 0 0;
    line-height: 35px;
}

#login_low {
    display: flex;
    margin-top: 2%;
    margin-left: 40px;
    justify-content: space-between;
    width: 297px;
}

#login_low > div {
    display: flex;
    padding-top: 2px;
}

#login_low > div > label {
    color: var(--font-color);
    font-size: 15px;
    font-weight: 530;
    cursor: pointer;
    padding-bottom: 5px;
    padding: 1px 0 0 5px;
}

#login_low > div {
    height: 25px;
}

#showPasswordCheckBox {
    width: 20px;
    height: 20px;
}

#login_btn {
    background-color: #f9efe3b7;
    border-color: rgba(248, 248, 248, 0.508);
    color: var(--color-color);
    border-radius: 5px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    width: 68px;
    height: 25px;
    cursor: pointer;
}

/*footer*/
#information {
    background-color: var(--color-nav);
    padding-top: 20px;
    padding-bottom: 9px;
    text-align: center;
}

#information > .information_inner {
    padding-bottom: 9px;
}

#information > .information_inner > a {
    text-decoration: none;
    color: var(--font-color);
}

i.fa-github {
    color: rgb(77, 77, 77);
}